.create-quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
label {
  display: flex;
  flex-direction: column;
}
.form-button {
  width: 30% !important;
  margin-top: 0.4rem;
  margin-bottom: 0.7rem;
}
